<div style="background-color: #000" class="jumbotron">
    <div class="row">
        <img src="https://i.ytimg.com/vi/m9We2XsVZfc/hqdefault.jpg" width="100" height="100" alt="Ghost Busters Logo" class="rounded float-left">
        <h1 style="text-align: center; color: white;">Ghost Busting ACME Enthusiasts</h1>
    </div>
</div>
