<!doctype html>
<html>
    <head>

        <% include partials/head %>

    </head>
    <body>
        <div class="container">
            <% include partials/header %>
            <% include partials/nav %>

            <div class="row">
                <div class="col-sm-8">
                    <div class="jumbotron">
                        <div class="row">
                            <% for (let i = 0; i < cart.length; i++) {%>
                                <div class="col-sm-4">
                                    <div class="card card-cascade" style="background-color: white;">
                                        <img class="card-img-top" width="100%" src="/images/<%= cart[i] %>.jpg" alt="<%= cart[i] %>">
                                        <div class="card-body text-center">
                                            <h4 class="card-title"><%= cart[i] %></h4>
                                            <input type="button" data-equipment="<%= cart[i] %>" class="btn btn-primary" value="Remove from Cart"></input>
                                        </div>
                                    </div>
                                </div>
                            <% } %>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="jumbotron">
                        <button type="button" id="submit" class="btn btn-default">Purchase</button>
                    </div>
                </div>
            </div>
        </div>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
        <script type='text/javascript'>

            $(document).ready(function() {

                $("input[type=button]").on('click', function() {
                    var equipment = {equipment: $(this).data('equipment')};
                    console.log(JSON.stringify(equipment));

                    $.ajax({
                        url: '/cart/remove',
                        type: 'POST',
                        dataType: 'json',
                        data: JSON.stringify(equipment),
                        success: function(result, status, xhr) {
                            console.log(result);
                            location.reload();
                        },
                        error: function(xhr, status, error) {
                            console.log(error);
                        },
                        contentType: "application/json"
                    });

                });
        
                $("#submit").on('click', function() {
                    $.ajax({
                        url: '/cart/purchase',
                        type: 'POST',
                        dataType: 'json',
                        data: JSON.stringify({success: 'true'}),
                        success: function(result, status, xhr) {
                            console.log(result);
                            location.reload();
                        },
                        error: function(xhr, status, error) {
                            console.log(error);
                        },
                        contentType: "application/json"
                    });
                });

            });

        </script>

        <footer>
            <% include partials/footer %>
        </footer>
    </body>
</html>
