<!doctype html>
<html>
    <head>

        <% include partials/head %>

    </head>
    <body>
        <div class="container">
            <% include partials/header %>
            <% include partials/nav %>

            <div class="row">
                <div class="col-sm-8">
                    <div class="jumbotron">
			<form>
			    <legend><span class='glyphicon glyphicon-globe'></span>Contact Us!</legend>
			    <address>
				<strong>ACME Ghost Busting Enthusiasts</strong><br>
				1234 Sesame St, Building 9 3/4<br>
				Atlantis Pacific, A 010101<br>
				<abbr title="Phone">
				    P:</abbr>
				(123) 456-7890
			    </address>
			    <address>
				<strong>Ghost Busting Professional</strong><br>
				<a href='mailto:#'>ghost@busting.com</a>
				<p>If you have a ghost, who you gonna call? Hopefully us because we are the experts! Please use the above information if you find yourself in a sticky situation and need some help!</p>
			    </address>
			</form>
                    </div>
                </div>
            </div>

            <% include partials/footer %>
        </div>
    </body>
</html>
