<!doctype html>
<html>
    <head>

        <% include partials/head %>

    </head>
    <body>
        <div class="container">
            <% include partials/header %>
            <% include partials/nav %>

            <div class="row">
                <div class="col-sm-8">
                    <div class="jumbotron">
                        <h1></h1>
                        <p>Welcome to Ghost Busting ACME Enthusiasts, home to all your ghost busting equipment needs! Checkout our various items by selecting your category of choice. Once you have made your selections go into your Shopping Cart to complete your order!</p>
                    </div>
                </div>
            </div>

            <% include partials/footer %>
        </div>
    </body>
</html>
